<div class="content-wrap">
  <div class="container footer-margin">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 card content-top-margin">
        <div class="row tutorial-min">
          <div class="col-sm-12">
            <h2>Contact Us</h2>
            <hr />
            <p>
              If you have any comments, questions or concerns, or if you'd like to reach us in order to get more involved, please feel free to reach out to us at <a href="#">godigitalwithus@gmail.com</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
