<div class="content-wrap">
  <div class="container content-margin-bottom">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <div class="row tutorial-min">
          <div class="col-sm-12">
            <h2 class="page-title">Contact Us</h2>
            <hr class="blue">
            <p>
              We would love to hear from you. Please send us feedback, questions or let us know it you would like to get involved with this project. Contact us at <a href="mailto:godigitalwithus@gmail.com">godigitalwithus@gmail.com</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
