<div class="content-wrap">
  <div class="container content-margin-bottom">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <h1 class="style-guide">Style Guide</h1>
        <p>To contribute, take a look at our <a href="https://github.com/cmaher92/GoDigitalWithUs" target="_blank">github repo</a>.</p>
        <hr class="blue">

        <h2 class="style-guide">Typography</h2>
        <h4>Merriweather</h4>
        <p>Merriweather is an open source serif font designed to be a text face that is pleasant to read on screens. Currently there are 4 styles: Regular, Light, Bold and Black with Italic styles for each of these weights. Headings (1-5) use Merriweather Bold.</p>
        <h4>Source Sans Pro</h4>
        <p>Source Sans Pro is an open source sans serif font with a variety of weights. All text that does not use Merriweather uses Source Sans Pro.</p>
        <h5>Examples</h5>
        <h1>Here is an H1</h1>
        <h2>Here is an H2</h2>
        <h3>Here is an H3</h3>
        <h4>Here is an H4</h4>
        <h5>Here is an H5</h5>
        <h6>Here is an H6</h6>
        <body>Here is some body text. Here is some body text. Here is some body text. Here is some body text. Here is some body text.</body>
        <p>Here is a p tag. Here is a p tag. Here is a p tag. Here is a p tag. Here is a p tag. Here is a p tag. Here is a p tag.</p>
        <hr class="blue">

        <h2 class="style-guide">Colors</h2>
        <h4>Background Colors</h4>
        <p>There are 3 main colors for backgrounds: primary-dark, gray-lightest and gray-lightest-light. White is not used as a background color.</p>
        <div class="row">
          <div class="col-sm-3 colors-boxes" style="background-color:#112e51"><br></div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes" style="background-color:#f1f1f1"><br></div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes" style="background-color:#eeeeee"><br></div>
        </div>
        <div class="row">
          <div class="col-sm-3 colors-boxes">Primary dark is reserved for the header and footer.</div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes">Gray lightest is used for the main background.</div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes">Gray lightest light is used for card backgrounds.</div>
        </div>
        <h4>Text Colors</h4>
        <p>All text is in the base color, including headings, p tags and body.</p>
        <div class="row">
          <div class="col-sm-3 colors-boxes" style="background-color:#212121"><br></div>
        </div>
        <h4>Link Colors</h4>
        <p>There are links on light and dark backgrounds. Links on light backgrounds change color in the active and hover state. Links on dark backgrounds change color only in the hover state.</p>
        <div class="row">
          <div class="col-sm-3 colors-boxes" style="background-color:#0071bc"><br></div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes" style="background-color:#4c2c92"><br></div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes" style="background-color:#3e94cf"><br></div>
        </div>
        <div class="row">
          <div class="col-sm-3 colors-boxes">Primary is for links on light backgrounds.</div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes">Visit is for links that are in a visited state on light backgrounds.</div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes">Focus is for links that are in the hover state on light backgrounds.</div>
        </div>
        <div class="row">
          <div class="col-sm-3 colors-boxes" style="background-color:#f1f1f1"><br></div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes" style="background-color:#aeb0b5"><br></div>
        </div>
        <div class="row">
          <div class="col-sm-3 colors-boxes">Gray lightest is for links that are in a normal or visited state on a dark background.</div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes">Gray light is for links that are in the hover state on a dark background.</div>
        </div>
        <h4>Secondary Colors</h4>
        <p>Secondary colors may be used on elements that need to stand out.</p>
        <div class="row">
          <div class="col-sm-3 colors-boxes" style="background-color:#e31c3d"><br></div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes" style="background-color:#cd2026"><br></div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes" style="background-color:#981b1e"><br></div>
        </div>
        <div class="row">
          <div class="col-sm-3 colors-boxes">Secondary</div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes">Secondary dark</div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes">Secondary darker</div>
        </div>
        <h4>Tertiary Colors</h4>
        <p>Tertiary colors may be used on elements that need to stand out, but not as much as secondary colors.</p>
        <div class="row">
          <div class="col-sm-3 colors-boxes" style="background-color:#2e8540"><br></div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes" style="background-color:#8ba6ca"><br></div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes" style="background-color:#dce4ef"><br></div>
        </div>
        <div class="row">
          <div class="col-sm-3 colors-boxes">Green</div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes">Cool blue lighter</div>
          <div class="col-sm-offset-1 col-sm-3 colors-boxes">Cool blue lightest</div>
        </div>
        <hr class="blue">

        <h2 class="style-guide">Links</h2>
        <p>Links by default do not have any style. On a light background, When links are in a hover state, the underline will appear and the color will change.</p>
        <h5>Examples</h5>
        <a href="#">This</a> is a link on light background.
        <br>
        <a class="visited" href="#">This</a> is a visited link.
        <div class="row">
          <div class="col-sm-6">
            <div class="dark-background">
              <a href="#">This</a> is a link on a dark background.
            </div>
          </div>
        </div>
        <hr class="blue">

        <h2 class="style-guide">Buttons</h2>
        <p>Buttons should be flat and change color in a hover state.</p>
        <h5>Examples</h5>
        <button class="primary-button">Primary Button</button>
        <br>
        <button class="btn btn-danger">Secondary Button</button>
      </div>
    </div>
  </div>
</div>
