<div class="content-wrap">
  <div class="container footer-margin">
    <div class="col-sm-offset-2 col-sm-8">
      <%= notice %>
    </div>

    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 card content-top-margin">
        <div class="row tutorial-min">
          <div class="col-sm-12">
            <h2>Tutorial Creation Guide</h2>
            <h3>How to create a great tutorial</h3>
            <hr />
            <h4>Topic and Title:</h4>

            <p>
              Tutorial topics should cover one topic and one topic only.  The tutorial name should plainly reflect this (e.g. "How to [xxxxxxxx]")  These topics should be a singular task, and should not take the reader more than 1 hour to complete at most.  Larger tutorials should be broken down into multiple topics, so that the reader has natural stopping points to take a break, ask for help, etc.
            </p>

            <h5>Incorrect Title:</h5>

            <p>Email Tutorial</p>

            <h5>Correct Title:</h5>

            <p>Email part 1: How to create an email account</p>
            <p>Email part 2: How to send emails</p>
            <p>Email part 3: How to organize your inbox</p>

            <hr />
            <h4>Tagline Style:</h4>

            <p>
              Try to make the tagline for your tutorial a short, simple sentence explaining the value of knowledge contained in the tutorial.  Do not just reword the title or explain the content--try and contextualize why they should learn this content by explaining why they need to know this information.
            </p>

            <h5>Incorrect Tagline:</h5>
            <p>
              Title: How to create an email account
            </p>

            <p>
              Tagline:  Learn how to sign up for an email account
            </p>

            <h5>Correct Tagline:</h5>
            <p>
              Title: How to create an email account
            </p>

            <p>
              Tagline:  New to the internet?  First thing you'll need is your own email account.  With an email account, you'll be able to keep in touch with friends and family, conduct business, and sign up for all the great things the internet has to offer!
            </p>

            <hr />
            <h4>Tutorial Body:</h4>

            <h5>Introduction</h5>
            <p>
              Your tutorials should start with a brief introduction.  This introduction should briefly cover what they will learn, and why it is important for them to learn it.  Remember, they may still not be fully convinced that this tutorial is worth their time yet!  A strong introduction should convince them that the knowledge within is relevant to their lives, and should give them a brief high-level overview of the steps of the tutorial.  This will make it easier for them to follow along when they actually start reading the content.
            </p>

            <h5>Prerequisites</h5>
            <p>
              Be sure to list any prerequisite knowledge that is essential to the tutorial.  Do they need an email account before starting this tutorial?  Mention that.  Should they be familiar with using word processor software? Mention that too.  It's better to err on the side of caution in this respect, as many new learners will be working through the content of your tutorial.  If they get half way through and realize they aren't ready for this material, they will likely close it and not come back.  By listing prerequisites before they begin, the reader can self-determine if they are ready to begin. If they are not, they should be able to easily search those tutorials and then come back to your tutorial later.
            </p>

            <h5>Content</h5>
            <p>
              Break your tutorials into logical steps.  These are breakpoints for the learner to check their work, take a break, or review what they have just learned.  Examples of a single step be something like whenever they set the settings for something, submit a form, send a message, etc.  If a step seems too large, consider breaking it into smaller steps.
            </p>
            <p>
              Try to include pictures as often as possible, especially when telling the reader to look for/click on something specific.  Be sure to include a disclaimer that the page may look a little different by the time they read this tutorial--that way new learners wont panic if a website has been redesigned and a button has been moved.
            </p>

            <div class="text-right">
              <div class="btn secondary-button">
                <%= link_to "Create Tutorial", "/tutorials/new" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
