<div class="content-wrap">
  <div class="main-page">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="footer">
            <%= render 'shared/feed' %>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-3 hidden-sm hidden-xs">
          <div class="row right-col">
            <h3>Topics</h3>
          </div>
          <div class="row">
            <div class="footer">
              <h3>
                <i class="glyphicon glyphicon-headphones"></i> 
                Music & Entertainment
              </h3>
              <ol class="list-unstyled">
                <li><a href="#">How to Watch Video Online</a></li>
                <li><a href="#">How to Rent Movies Online</a></li>
                <li><a href="#">How to Find Fun Games to Play</a></li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="footer">
              <h3>
                <i class="glyphicon glyphicon-thumbs-up"></i> 
                Family & Friends
              </h3>
              <ol class="list-unstyled">
                <li><a href="#">How to Create a Facebook Account</a></li>
                <li><a href="/tutorials/4">How to Create an Email Account</a></li>
                <li><a href="#">How to Use Different Messaging Apps</a></li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="footer">
              <h3>
                <i class="glyphicon glyphicon-piggy-bank"></i> 
                Finances & Money
              </h3>
              <ol class="list-unstyled">
                <li><a href="#">How to Create an Online Banking Account</a></li>
                <li><a href="#">How to Find Money Management Apps</a></li>
                <li><a href="#">How to Use Mobile Banking</a></li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="footer">
              <h3>
                <i class="glyphicon glyphicon-credit-card"></i> 
                Government & Licenses
              </h3>
              <ol class="list-unstyled">
                <li><a href="#">How to Renew Your License</a></li>
                <li><a href="#">How to Apply for EBT/SNAP</a></li>
                <li><a href="#">How to Apply for WIC</a></li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="footer">
              <h3>
                <i class="glyphicon glyphicon-print"></i> 
                Computer Basics
              </h3>
              <ol class="list-unstyled">
                <li><a href="/tutorials/3">How to Use a Mouse</a></li>
                <li><a href="#">What Is a Computer?</a></li>
                <li><a href="#">How to Use the Keyboard</a></li>
                <li><a href="#">Printing a Document</a></li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="footer">
              <h3>
                <i class="glyphicon glyphicon-globe"></i> 
                Internet Basics
              </h3>
              <ol class="list-unstyled">
                <li><a href="#">What is the Internet?</a></li>
                <li><a href="#">Different Browsers to Use</a></li>
                <li><a href="/tutorials/4">How to Create an Email Account</a></li>
                <li><a href="#">How to Store Documents Online</a></li>
              </ol>
            </div>
          </div>

          <!-- <div class="row right-col">
            <h3>Get Involved</h3>
          </div>
          <div class="row">
            <div class="footer">
              <h3>How You Can Help</h3>
              <p>We need help from the community to make this an amazing platform. To contribute to our open source project, click the button below to find out how you can make an impact or go to the footer to create a tutorial.
              <div class="btn secondary-button">
                <a href='/guide'>Create a Tutorial</a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
