<div class="row search-bar">
  <div class="container col-md-offset-2 col-md-8">
    <div id="search-form">
      <%= form_tag("/search", method: "get") do %>
        <%= text_field_tag :search, params[:q], :placeholder => "Search for tutorials here!", :id => "search-text" %>
        <%= submit_tag("Search", :id => "search-submit", :class => "btn btn-default") %>
      <% end %>
    </div>
  </div>
</div>

<div class="row beginner-suite">
  <div class="container">
    <div class="col-md-4 level-row">
      <div class="card card-margin">
        <h3 class="text-align-center">Computer Basics</h3>
        <div class="ul text-align-center">
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
        </div>
      </div>
    </div>

    <div class="col-md-4 level-row">
      <div class="card card-margin">
        <h3 class="text-align-center">Internet Basics</h3>
        <div class="ul text-align-center">
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
        </div>
      </div>
    </div>

    <div class="col-md-4 level-row">
      <div class="card card-margin">
        <h3 class="text-align-center">Advanced Internet</h3>
        <div class="ul text-align-center">
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <%= render 'shared/feed' %>
</div>
