<div class="content-wrap">
  <div class="main">
    <div class="main-text text-center">
      <h1>ConnectALL</h1>
      <h3>A digital literacy tool built in conjunction with the White House to help close the digital divide.</h2>
    </div>
  </div>

  <div class="main-page">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="content-top-margin footer remove-footer-margin">
            <%= render 'shared/feed' %>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-3">
          <div class="row right-col">
            <h3>Just getting started?</h3>
          </div>
          <div class="row">
            <div class="card text-center footer">
              <h3>Computer Basics</h3>
              <ul class="list-unstyled">
                <li><a href="#">How to Use a Mouse</a></li>
                <li><a href="#">What Is a Computer?</a></li>
                <li><a href="#">How to Use the Keyboard</a></li>
                <li><a href="#">Printing a Document</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="card text-center footer">
              <h3>Internet Basics</h3>
              <ul class="list-unstyled">
                <li><a href="#">What is the Internet?</a></li>
                <li><a href="#">Different Browsers to Use</a></li>
                <li><a href="#">How to Create an Email Account</a></li>
                <li><a href="#">How to Store Documents Online</a></li>
              </ul>
            </div>
          </div>

          <div class="row right-col">
            <h3>Get Involved!</h3>
          </div>
          <div class="row">
            <div class="card footer">
              <h3 class="text-center">How You Can Help</h3>
              <p>We need help from the community to make this an amazing platform. To contribute to our open source project, click <a href="#">here</a> to find out how you can make an impact or go to the footer to create a tutorial.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
