<div class="search-bar">
  <div class="container col-md-offset-2 col-md-8">
    <div id="search-form">
      <%= form_tag("/search", method: "get") do %>
        <%= text_field_tag :search, params[:q], :placeholder => "Search for tutorials here!", :id => "search-text" %>
        <%= submit_tag("Search", :id => "search-submit", :class => "btn btn-default") %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row beginner-suite">
    <div>
      <div class="col-md-4 col-sm-4 individual-levels level-row">
        <div class="card-margin card">
          <h3 align="center">Computer Basics</h3>
          <ul>
            <li>Link 1</li>
            <li>Link 2</li>
            <li>Link 3</li>
            <li>Link 4</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 individual-levels level-row">
        <div class="card-margin card">
          <h3 align="center">Internet Basics</h3>
          <ul>
            <li>Link 1</li>
            <li>Link 2</li>
            <li>Link 3</li>
            <li>Link 4</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 individual-levels level-row">
        <div class="card-margin card">
          <h3 align="center">Advanced Internet</h3>
          <ul>
            <li>Link 1</li>
            <li>Link 2</li>
            <li>Link 3</li>
            <li>Link 4</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row home-main">
  <div id="container main_content">
    
    <%= render 'shared/feed' %>
  </div>
</div>
