<div class="content-wrap">
  <div class="container">
    <div class="col-md-4">
      <div class="card card-margin">
        <h3 class="text-align-center">Computer Basics</h3>
        <div class="ul text-align-center">
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-margin">
        <h3 class="text-align-center">Internet Basics</h3>
        <div class="ul text-align-center">
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-margin">
        <h3 class="text-align-center">Advanced Internet</h3>
        <div class="ul text-align-center">
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
        </div>
      </div>
    </div>


    <div class="row">
    <%= render 'shared/feed' %>
    </div>
  </div>
</div>