<div id="create-tutorial">
  <a href="/tutorials/new">Create Tutorial</a>
  <!-- <%= form_tag("/create", method: "get", :html => {:id => "tutorial-button"}) do %>
    <%= submit_tag("Create Tutorial")%>
  <% end %> -->
</div>
<div class="clear"></div>
</div>

<div class="container">
  <div class="row">
    <div class="flex-row" id="beginner_suite">
      <div class="individual-levels" id="level-row">
        <h4 align="center">Level 1</h4>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
        </ul>
      </div>
      <div class="individual-levels" id="level-row">
        <h4 align="center">Level 2</h4>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
        </ul>
      </div>
      <div class="individual-levels" id="level-row">
        <h4 align="center">Level 3</h4>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
  <div id="main_content">
    <h3>Popular Tutorials</h3>
    <%= render 'shared/feed' %>
  </div>
</div>
