<div class="content-wrap">
  <div class="container footer-margin">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 card content-top-margin">
        <div class="row tutorial-min">
          <div class="col-sm-12">
            <h2>Style Guide</h2>
            <hr>
            <p>
              Content goes here
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
