<div class="content-wrap">
  <div class="container content-margin-bottom">
    <div class="container flex-column">
      <div class="col-md-offset-2 col-md-8">
        <h2 class="page-title">Your Created Tutorials</h2>
        <hr class="blue">
        <% @tutorials.each do |tutorial| %>
          <div class="row">
            <%= link_to tutorial.title, tutorial %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
