// Background Color Variables
$gray-dark: #323a45;
$gray: #5b616b;
$gray-light: #aeb0b5;
$gray-lightest: #f1f1f1;
$gray-cool-light: #dce4ef;

// Font Color Variables
$base: #212121;
$primary: #0071bc;
$primary-darker: #205493;
$primary-darkest: #112e51;
$focus: #3e94cf;
$visited: #4c2c92;

// Secondary Color Variables
$primary-alt: #02bfe7;
$primary-alt-dark: #00a6d2;
$primary-alt-darkest: #046b99;
$secondary-dark: #cd2026;

// Tertiary Color Variables
$green: #2e8540;
$green-lighter: #94bfa2;
$cool-blue-lighter: #8ba6ca;