// Other Variables
$placeholder-padding-left: 5px;

// TODO: use mixin
/* Webkit */
::-webkit-input-placeholder {
  padding-left: $placeholder-padding-left;
}

/* Firefox 4-18 */
:-moz-placeholder {
  padding-left: $placeholder-padding-left;
}

/* Firefox 19+ */
::-moz-placeholder {
  padding-left: $placeholder-padding-left;
}

/* IE10+ */
:-ms-input-placeholder {
  padding-left: $placeholder-padding-left;
}