<h2>Popular Tutorials</h2>
<hr class="blue">
<div class="row">
  <% @tutorials.each do |tutorial| %>
    <div class="col-sm-6 feed-card-bottom-margin">
      <%= link_to tutorial, :class => "remove-text-decoration" do %>
        <div class="card card-hover hover">
          <div class="card-text">
            <h3 class="card-title"><%= tutorial.title %></h3>
            <h5 class="tagline"><%= tutorial.tagline %></h5>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
