<h2 id="popular-title">Popular Tutorials</h2>
<div class="row">
  <% @tutorials.each do |tutorial| %>
    <div class="col-md-12 card-bottom-margin">
      <%= link_to tutorial, :class => "remove-text-decoration" do %>
        <div class="card card-hover hover">
          <div class="card-text">
            <h3 class="card-title"><%= tutorial.title %></h3>
            <h5><%= tutorial.tagline %></h5>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
