<div class="content-wrap">
  <div class="container content-margin-bottom">
   <div class="col-sm-offset-2 col-sm-8">
    <h2 class="page-title">Editing Tutorial</h2>
    <hr class="blue">
    <div class="row">
      <h3 class="small pull-right">
        <%= link_to 'Back', @tutorial %> | <%= link_to 'All Tutorials', tutorials_path %>
      </h3>
    </div>
    <%= render 'form' %>
  </div>
</div>