@import "bootstrap-sprockets";
@import "bootstrap";
@import "codemirror";

@import "summernote";
// @import "example"

// import stylsheets
<<<<<<< HEAD
@import "scaffolds";
@import "tutorials";

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #fff;

  .header-container {
    #logo {
      flex-grow: 1;
      margin-top: 13px;
    }
    #search-form {
      margin-top: 11px;
      flex-grow: 2;
      #search-text {
        width: 80%;
      }
      #search-submit {
        float: right;
        width: 18%;
      }
    }
    #flex-right {
      flex-grow: 1;
    }
  }
}

.footer {
  background-color: #fff;
  #footer-row {
    flex-grow: 1;
    text-align: center;
  }
}
=======
@import "scaffolds.scss";
@import "tutorials.scss";
>>>>>>> dc56dccc090dccb8547ade119d0aa54b25c6d4f2
