// TODO: fix this so header doesn't have rounded corners
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $gray-lightest;
  color: $base;
  font-family: $source-sans-pro;
  font-size: 18px;
  line-height: 22px;
}

/* headers */
h1 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3em/52px;
}

h2 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3em/39px;
}

h3 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3em/26px;
}

h4 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3em/20px;
  #smallest {
    font-size:10px;
  }
  #largest {
    font-size: 20px;
  }
}

h5 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.3em/17px;
}

h6 {
  font-family: $source-sans-pro;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3em/17px;
  text-transform: uppercase
}

p, ol, ul, td {
  font-family: $source-sans-pro;
}

/* debugger for dev */
pre {
  background-color: $gray-lightest;
  padding: 10px;
  font-size: 10px;
}

/* links */
a {
  color: $primary;
  &:visited {
    color: $visited;
  }
  &:hover {
    color: $focus;
    background-color: $gray-lightest;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

/* header */
.header {
  background-color: $gray-lightest;
  margin-bottom: 15px;
  #logo {      
    margin: 10px;
    margin-top: 15px;
    a:hover {
    text-decoration: none;
    background-color: $gray-lightest;
    }
  }
}

/* footer */
.footer {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: $primary-darker;
  text-align: center;
  a {
    color: $gray-lightest;
    &:visited {
      color: $gray-lightest;
    }
    &:hover {
      color: $focus;
      text-decoration: none;
      background-color: $primary-darker;
    }
  }
}

/* cards */
.card {
  background-color: white;
  transition: box-shadow .25s;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-margin {
  margin: 0.5rem 0 1rem 0;
}

.card-padding {
  padding: 20px;
}

.card-image {
  margin-right: 15px;
}

.card-title {
  margin-top: 0px;
  a:hover {
    background-color: white;
  }
}

.card-text {
  overflow: hidden;
  height: 145px;
}

/* buttons */
.btn-primary {
  background-color: $primary-darker;
  &:hover {
    background-color: $primary-alt-dark;
    border: 1px solid $primary-alt-darkest;
  }
}

.alert-success {
  background-color: $green-lighter;
  color: $base;
}

.page-content {
  padding-left: 25px;
  padding-right: 25px;
}


/* main page */
.search-bar {
  background-color: $primary-darker;
  height: 80px;
}

#search-form {
  margin-top: 11px;
  // TODO: use jQuery to find height of navbar & set vertical center
  #search-text {
    width: 80%;
    margin-top: 14px;
    height: 32px;
  }
  // TODO: use jQuery to find height of navbar & set vertical center
  #search-submit {
    float: right;
    width: 18%;
    margin-top: 13px;
  }
}

.beginner-suite {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $gray-dark;
  .ul {
    list-style: none;
    padding-bottom: 30px;
  }
  li {
    font-size: 16px;
    padding-right: 10%;
  }
}







/* unused */
.field_with_errors {
  padding: 2px;
  background-color: $secondary-dark;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $secondary-dark;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: $gray-lightest;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $secondary-dark;
    color: white;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}


