// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Merriweather:700|Source+Sans+Pro:400,700,400italic);

// Font Variables
$merriweather: 'Merriweather', serif;
$source-sans-pro: 'Source Sans Pro', verdana, arial, helvetica, sans-serif;

// Background Color Variables
$gray-dark: #323a45;
$gray: #5b616b;
$gray-light: #aeb0b5;
$gray-lightest: #f1f1f1;

// Font Color Variables
$base: #212121;
$primary: #0071bc;
$primary-darker: #205493;
$primary-darkest: #112e51;
$focus: #3e94cf;
$visited: #4c2c92;

// Secondary Color Variables
$secondary-dark: #cd2026;

// Tertiary Color Variables
$green: #2e8540;

// Other Variables
$placeholder-padding-left: 5px;


// TODO: fix this so header doesn't have rounded corners
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $gray-lightest;
  color: $base;
  font-family: $source-sans-pro;
  font-size: 18px;
  line-height: 22px;
}

/* headers */
h1 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3em/52px;
}

h2 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3em/39px;
}

h3 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3em/26px;
}

h4 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3em/20px;
}

h5 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.3em/17px;
}

h6 {
  font-family: $source-sans-pro;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3em/17px;
  text-transform: uppercase
}

p, ol, ul, td {
  font-family: $source-sans-pro;
}

/* debugger for dev */
pre {
  background-color: $gray-lightest;
  padding: 10px;
  font-size: 10px;
}

/* links */
a {
  color: $primary;
  &:visited {
    color: $visited;
  }
  &:hover {
    color: $focus;
    background-color: $gray-lightest;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

// TODO: use mixin
/* Webkit */
::-webkit-input-placeholder {
  padding-left: $placeholder-padding-left;
}

/* Firefox 4-18 */
:-moz-placeholder {
  padding-left: $placeholder-padding-left;
}

/* Firefox 19+ */
::-moz-placeholder {
  padding-left: $placeholder-padding-left;
}

/* IE10+ */
:-ms-input-placeholder {
  padding-left: $placeholder-padding-left;
}

#notice {
  color: $green;
}

.field_with_errors {
  padding: 2px;
  background-color: $secondary-dark;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $secondary-dark;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: $gray-lightest;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $secondary-dark;
    color: white;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.float-left {
  float: left;
  margin-left: 10%;
}

.float-right {
  float: right;
  margin-right: 10%;
}

#top {
  background-color: $gray-lightest;
}

.header {
  background-color: $primary-darker;
  .header-container {
    #logo {
      flex-grow: 1;
      margin-top: 13px;
    }
    #search-form {
      margin-top: 11px;
      flex-grow: 2;
      // TODO: use jQuery to find height of navbar & set vertical center
      #search-text {
        width: 80%;
        margin-top: 14px;
        height: 32px;
      }
      // TODO: use jQuery to find height of navbar & set vertical center
      #search-submit {
        float: right;
        width: 18%;
        margin-top: 13px;
      }
    }
    #flex-right {
      flex-grow: 1;
    }
  }
}

#logo {
  margin: 10px;
  a:hover {
    text-decoration: none;
    background-color: $primary-darker;
  }
}

.footer {
  background-color: #fff;
  #footer-row {
    flex-grow: 1;
    text-align: center;
  }
}
