// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Merriweather:700|Source+Sans+Pro:400,700,400italic);

// Font Variables
$merriweather: 'Merriweather', serif;
$source-sans-pro: 'Source Sans Pro', verdana, arial, helvetica, sans-serif;

// Background Color Variables
$gray-dark: #323a45;
$gray-light: #aeb0b5;
$gray-lightest: #f1f1f1;
$gray-lightest-light: #eeeeee;

// Font Color Variables
$base: #212121;
$primary: #0071bc;
$primary-darker: #205493;
$primary-darkest: #112e51;
$focus: #3e94cf;
$visited: #4c2c92;

// Secondary Color Variables;
$secondary: #e31c3d;
$secondary-dark: #cd2026;
$secondary-darkest: #981b1e;

// Tertiary Color Variables
$green: #2e8540;
$cool-blue-lighter: #8ba6ca;
$cool-blue-lightest: #dce4ef;

body {
  background-color: $gray-lightest;
}

h1 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3em/52px;
}

h2 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3em/39px;
}

h3 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3em/26px;
}

h4 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3em/20px;
  #smallest {
    font-size:10px;
  }
  #largest {
    font-size: 20px;
  }
}

h5 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.3em/17px;
}

h6 {
  font-family: $source-sans-pro;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3em/17px;
  text-transform: uppercase
}

p, ol, ul, td {
  font-family: $source-sans-pro;
}

a {
  color: $primary;
  &:visited {
    color: $visited;
  }
  &:hover {
    color: $focus;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.content-wrap {
  margin-top: 135px;
}

.content-top-margin {
  margin-top: 25px;
}

/* header */
header {
  background-color: $primary-darkest;
  padding: 25px 0;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 1000;
  transition: box-shadow .25s;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.62);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.62);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.62);
  .logo {
    margin: 20px;
  }
  .search-form {
    margin: 20px;
    margin-top: 25px;
  }
  .search {
    font-size: 2rem;
    height: 4.4rem;
  }
}

.search-shim {
  position: relative;
  bottom: 3px;
}

a.brand {
  color: white;
  font-size: 30px;
  font-family: $merriweather;
  text-decoration: none;
}

/* sticky-footer hackery */

html, body {
  height: 93%;
}

.outside-footer {
  min-height: 100%;
  margin-bottom: -90px;
}

.outside-footer:after {
  content: "";
  display: block;
}

.outside-footer:after {
  height: 90px;
}

footer:after {
  margin-bottom: 0;
}

/* footer */

footer {
  padding: 70px 0px 300px 0px;
  background-color: $primary-darkest;
  height: 125px;
  color: white;
  a {
    color: $gray-lightest;
    &:visited {
      color: $gray-lightest;
    }
    &:hover {
      color: $gray-light;
      text-decoration: none;
    }
  }
}

.primary-button {
  appearance: none;
  background-color: $primary;
  border: 0;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  &:hover {
    background-color: $primary-darker;
    border-bottom: 0;
    color: white;
    text-decoration: none;
  }
  &:focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
  }
  &:active {
    background-color: $primary-darkest;
  }
}

.btn-danger {
  background-color: $secondary;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  &:hover {
    background-color: $secondary-dark;
    border-bottom: 0;
    color: white;
    text-decoration: none;
  }
  &:focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
  }
  &:active {
    background-color: $secondary-darkest;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.secondary-button {
  appearance: none;
  background-color: $secondary;
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  &:hover {
    background-color: $secondary-dark;
    border-bottom: 0;
    color: white;
    text-decoration: none;
  }
  &:focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
  }
  &:active {
    background-color: $secondary-darkest;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

/* cards */
.card {
  color: $base;
  background-color: white;
  padding: 15px 25px;
  border-radius: 5px;
  border: 1px solid $gray-lightest-light;
  transition: box-shadow .25s;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(174,176,181,1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(174,176,181,1);
  box-shadow: 0px 2px 2px 0px rgba(174,176,181,1);
  .footer {
    border-top: 1px solid $gray-light;
    padding-top: 3px;
    padding-bottom: 18px;
    a:hover {
      color: $focus;
    }
  }
}

.card-hover {
  &:hover {
    background-color: $cool-blue-lightest;
  }
}

.card-title {
  color: $primary;
}

.card-text {
  overflow: hidden;
  max-height: 135px;
}

.tagline {
  color: $gray-dark;
  font-style: italic;
  font-weight: 400;
}

a.remove-text-decoration,
a.remove-text-decoration:hover {
  text-decoration: none;
}

.card-bottom-margin {
  margin-bottom: 25px;
}

.footer-margin {
  margin-bottom: 30px;
}

/* main page */
.main-page {
  background-color: $gray-lightest;
  .footer {
    margin-bottom: 25px;
  }

  .right-col {
    h3 {
      padding-top: 15px;
      border-bottom: 1px solid $gray-light;
      padding-bottom: 5px;
    }
  }

  #popular-title {
    border-bottom: 1px solid $gray-light;
    padding-bottom: 5px;
  }
}

.main {
  width: 100%;
  height: 300px;
  background-image: url("http://i.imgur.com/hmZXWQJ.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .main-text {
    background-color: rgba(255, 255, 255, .8);
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    color: $primary-darkest;
    padding-top: 100px;
    h1 {
      font-size: 80px;
      color: black;
    }
    h3 {
      color: black;
    }
  }
}

.main-title {
  color: $green;
}

/* tutorial pages */
.tutorial-min {
  min-height: 300px;
}
