// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Merriweather:700|Source+Sans+Pro:400,700,400italic);

// Font Variables
$merriweather: 'Merriweather', serif;
$source-sans-pro: 'Source Sans Pro', verdana, arial, helvetica, sans-serif;

// Background Color Variables
$gray-dark: #323a45;
$gray-light: #aeb0b5;
$gray-lightest: #f1f1f1;
$gray-lightest-light: #eeeeee;

// Font Color Variables
$base: #212121;
$primary: #0071bc;
$primary-darker: #205493;
$primary-darkest: #112e51;
$focus: #3e94cf;
$visited: #4c2c92;

// Secondary Color Variables;
$secondary: #e31c3d;
$secondary-dark: #cd2026;
$secondary-darkest: #981b1e;

// Tertiary Color Variables
$green: #2e8540;
$cool-blue-lighter: #8ba6ca;
$cool-blue-lightest: #dce4ef;

body {
  background-color: $gray-lightest;
}

h1 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3em/52px;
}

h2 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3em/39px;
}

h3 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3em/26px;
}

h4 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3em/20px;
}

h5 {
  font-family: $merriweather;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.3em/17px;
}

h6 {
  font-family: $source-sans-pro;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3em/17px;
  text-transform: uppercase
}

p, ol, ul, td {
  font-family: $source-sans-pro;
}

a {
  color: $primary;
  &:visited {
    color: $visited;
  }
  &:hover {
    color: $focus;
  }
}

a.remove-text-decoration,
a.remove-text-decoration:hover {
  text-decoration: none;
}

.content-margin-bottom {
  margin-bottom: 30px;
}

/* header */
nav.navbar {
  background-color: $primary-darkest;
  padding: 11px 0 0 0;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 1000;
  transition: box-shadow .25s;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.62);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.62);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.62);
  .search {
    font-size: 2rem;
    height: 4.4rem;
  }
}

.top-nav {
  margin-right: 60px;
}

.search-shim {
  position: relative;
  bottom: 3px;
}

.top-margin {
  margin-top: 7px;
}

a.navbar-brand {
  color: white !important;
  font-size: 22px;
  font-family: $merriweather;
  text-decoration: none;
}

/* nav bar */
nav {
   border-radius: 0 !important;
   -moz-border-radius: 0 !important;
 }

/* sticky-footer hackery */
html, body {
  height: 93%;
}

.outside-footer {
  min-height: 100%;
  margin-bottom: -90px;
}

.outside-footer:after {
  content: "";
  display: block;
}

.outside-footer:after {
  height: 90px;
}

footer:after {
  margin-bottom: 0;
}

/* footer */
footer {
  padding: 70px 0px 200px 0px;
  background-color: $primary-darkest;
  height: 125px;
  color: white;
  a {
    color: $gray-lightest;
    &:visited {
      color: $gray-lightest;
    }
    &:hover {
      color: $gray-light;
      text-decoration: none;
    }
  }
  @media only screen and (max-width: 480px) {
    height: 420px;
  }
}

#footer-text-center {
  @media only screen and (max-width: 480px) {
    text-align: center;
  }
}

/* buttons */
.primary-button {
  appearance: none;
  background-color: $primary;
  border: 0;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  &:hover {
    background-color: $primary-darker;
    border-bottom: 0;
    color: white;
    text-decoration: none;
  }
  &:focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
  }
  &:active {
    background-color: $primary-darkest;
  }
}

.btn-danger {
  background-color: $secondary;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  &:hover {
    background-color: $secondary-dark;
    border-bottom: 0;
    color: white;
    text-decoration: none;
  }
  &:focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
  }
  &:active {
    background-color: $secondary-darkest;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.secondary-button {
  appearance: none;
  background-color: $secondary;
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  &:hover {
    background-color: $secondary-dark;
    border-bottom: 0;
    color: white;
    text-decoration: none;
  }
  &:focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
  }
  &:active {
    background-color: $secondary-darkest;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

/* cards */
.card {
  color: $base;
  background-color: white;
  padding: 15px 25px;
  border-radius: 5px;
  border: 1px solid $gray-lightest-light;
  transition: box-shadow .25s;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(174,176,181,1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(174,176,181,1);
  box-shadow: 0px 2px 2px 0px rgba(174,176,181,1);
  .footer {
    border-top: 1px solid $gray-light;
    padding-top: 3px;
    padding-bottom: 18px;
    a:hover {
      color: $focus;
    }
  }
}

.card-hover {
  &:hover {
    background-color: $cool-blue-lightest;
  }
}

.card-title {
  color: $primary;
}

.card-text {
  overflow: hidden;
  max-height: 135px;
}

.tagline {
  color: $gray-dark;
  font-style: italic;
  font-weight: 400;
}

/* home page */
.main-page {
  background-color: $gray-lightest;
  .right-col {
    h3 {
      padding-top: 10px;
    }
  }
}

.feed-card-bottom-margin {
  margin-bottom: 25px;
}

/* tutorial pages */
.tutorial-min {
  min-height: 800px;
}

/* registration & login forms */
.flex-center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

/* special headings */
h2.page-title {
  color: $primary;
}

h3.subtitle {
  color: $gray-dark;
  margin-top: 10px;
  font-style: italic;
}

h6.byline {
  color: $cool-blue-lighter;
  margin-top: -5px;
}

hr.blue {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $primary-darker;
  margin: 1em 0;
  padding: 0; 
}

/* forms */
.form-label {
  font: $merriweather;
  text-transform: uppercase;
}

.form-label-top-margin {
  margin-top: 10px;
}

/* developer style guide classes */
.visited {
  color: $visited;
}

.dark-background {
  padding: 10px;
  background-color: $primary-darkest;
  color: white;
  a {
    color: $gray-lightest;
    &:visited {
      color: $gray-lightest;
    }
    &:hover {
      color: $gray-light;
      text-decoration: none;
    }
  }
}

h2.style-guide, h4.creation-guide {
  color: $cool-blue-lighter;
}

abbr[title], abbr[data-original-title] {
    cursor: auto;
    border-bottom: none;
}
