.button {
  float: right;
}

.create-tutorial {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  height: 100vh;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#create-tutorial {
  float: right;
  margin: 10px;
  padding: 10px;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
}

.suggestions {
  background-color: $gray-light;
  margin-top: 50px;
  margin-bottom: -6px;
  margin-left: -25px;
  margin-right: -25px;
  padding-top: 5px;
  padding-bottom: 18px;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .ul {
    padding-left: 5%;
    padding-right: 5%;
  }
  .li {
    display: inline;
    font-size: 16px;
    padding-right: 10%;
  }
}

#tutorial {
  padding-left: 8%;
  padding-right: 8%;
}
