.suggestions {
  background-color: $gray-light;
  margin-top: 50px;
  margin-bottom: -6px;
  padding-top: 3px;
  padding-bottom: 18px;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  a:hover {
    background-color: $gray-light;
  }
  .ul {
    padding-left: 5%;
    padding-right: 5%;
  }
  .li {
    display: inline;
    font-size: 16px;
    padding-right: 10%;
  }
}