<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-1">
        <h4>Navigation</h4>
        <%= link_to "Home",                     root_path %>
        <br>
        <%= link_to "Tutorial Creation Guide",  "/guide" %>
        <br>
        <%= link_to "Contact Us",               "/contact" %>
      </div>
      <div class="col-sm-2">
        <h4>How to Help</h4>
        <%= link_to "Create a Tutorial", new_tutorial_path, class: "btn btn-danger" %>
      </div>
    </div>
    <br>
    <div class="row"></div>
      <div class="col-sm-12 text-center">
        <br>
        Made with <i class="glyphicon glyphicon-heart"></i> in San Francisco, CA
        <br>
          <small>Hosted by <a href="https://www.heroku.com/" target="_blank">Heroku</a></small>
      </div>
    </div>
  </div>
</footer>
