<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
          <ul class="list-unstyled">
            <li><%= link_to "Home",                     root_path %></li>
            <li><%= link_to "Tutorial Creation Guide",  "/guide" %></li>
            <li><%= link_to "Create Tutorial",          "/tutorials/new" %></li>
          </ul>
      </div>
    </div>
  </div>
</footer>
