<!-- temporary icon: created by ed piel from noun project -->
<div class="header">
  <div class="container header-container flex-row">
    <div id="logo">
      <%= link_to image_tag("temp_logo.png", alt: "home"), root_path, :id => "logo" %>
    </div>
    
    <div id="flex-right"></div>
  </div>
</div>

